@charset "UTF-8";

@mixin context_menu {
  position: absolute;
  z-index: 1000;
  box-sizing: border-box;
  width: 256px;
  margin: 0;
  font-variant: tabular-nums;
  font-feature-settings: 'tnum';
  padding: 0;
  color: #000000d9;
  font-size: 14px;
  line-height: 0;
  text-align: left;
  list-style: none;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, .06);
  border-radius: 4px;
  outline: none;
  box-shadow: 0 3px 6px -4px #0000001f, 0 6px 16px #00000014, 0 9px 28px 8px #0000000d;
  transition: background .3s,width .3s cubic-bezier(.2,0,0,1) 0s;
}

@mixin context_menu_item {
  height: 40px;
  margin-top: 4px;
  margin-bottom: 4px;
  padding: 0 16px;
  overflow: hidden;
  line-height: 40px;
  text-overflow: ellipsis;
  cursor: pointer;
}

@mixin anticon {
  min-width: 14px;
  font-size: 14px;
  transition: font-size .15s cubic-bezier(.215,.61,.355,1),margin .3s cubic-bezier(.645,.045,.355,1),color .3s;
}

@mixin context_menu_item_icon {
  display: inline-block;
  color: inherit;
  font-style: normal;
  line-height: 0;
  text-align: center;
  text-transform: none;
  vertical-align: -0.125em;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  @include anticon;
  & + span {
    margin-left: 10px;
  }
}

@mixin context_menu_item_content {
  flex: auto;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  @include anticon;
}

/* menu */
.context_menu {
  left: -256px;
  @include context_menu;
  .context_menu_item {
    display: flex;
    align-items: center;
    transition: border-color .3s,background .3s,padding .1s cubic-bezier(.215,.61,.355,1);
    padding-left: 24px;
    @include context_menu_item;
    .context_menu_item_icon {
      @include context_menu_item_icon;
    }
    .context_menu_item_content {
      @include context_menu_item_content;
    }
  }
  .context_menu_item_active {
    color: #1890ff;
  }
  .context_submenu {
    @include context_menu;
    box-shadow: none;
    border: none;
    border-radius: 0;
    width: 100%;
    .context_submenu_title {
      @include context_menu_item;
      padding-bottom: .02px;
    }
  }
}
