@charset "UTF-8";

@import '../common';

.book_annotations {
  position: relative;
  // margin-top: $nav_height;
  width: 298px;
  border-left: 1px solid rgb(193, 193, 193);
  .book_annotations_card_active {
    border: 1px solid red !important;
  }
  .book_annotations_card {
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #000000d9;
    font-size: 14px;
    line-height: 1.5715;
    background: #fff;
    border-radius: 2px;
    border: 1px solid rgba(0,0,0,.06);
    //cursor: pointer;
    .book_annotations_card_body {
      padding: 6px;
      // min-height: 65px;
      .book_annotations_card_meta {
        display: flex;
        margin: -4px 0;
        .book_annotations_card_meta_avatar {
          padding-right: 16px;
        }

        .book_annotations_card_meta_detail {
          overflow: hidden;
          .book_annotations_card_meta_title {
            overflow: hidden;
            color: #000000d9;
            font-weight: 500;
            font-size: 16px;
            white-space: nowrap;
            text-overflow: ellipsis;
            margin-bottom: 8px;
          }
          .book_annotations_card_meta_description {
            border: 0;
            outline: 0;
            min-height: 30px;
            //&:empty:before {
            //  content: 'input';
            //  color: gray;
            //}
            //&:focus:before {
            //  content: none;
            //}
          }
        }
      }
    }

    .book_annotations_card_actions {
      display: flex;
      margin: 0;
      padding: 0;
      list-style: none;
      background: #fff;
      border-top: 1px solid rgba(0,0,0,.06);
      & li {
        width: 33.33%;
        border-right: 1px solid rgba(0,0,0,.06);
        margin: 8px 0;
        color: #00000073;
        text-align: center;
        &:hover {
          color: #666666;
          cursor: pointer;
        }
      }
    }
  }
}