<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>merge</title>
  <script src="https://at.alicdn.com/t/font_3346834_suewlq4e94.js"></script>
</head>
<body>
<p data-first-child=""
   data-pid="TK6aCpCu">
  如果让你对桌上的玩家做些推断，对于跛入和加注，哪个让他们更为难。很容易得出结论，你第一个进入底池，那么加注总比跛入好，这很容易从数学上证明。我第一次学到这点的时候是若干年以前同一帮计算机学者们一起玩扑克的时候。在脑中留下的首先印象就是加注比跛入要好，当你第一个进人底池的时候。因为弃牌率的原因，其他人会缴械投降。</p>
<p data-pid="IqC3ALkr">惯例：介绍一下咱们知乎自己的论坛功能“圈子”，在下面这个圈子里大多是德扑爱好者。大家可以加入进来，相互探讨、交流进步。</p>
<div class="RichText-LinkCardContainer"></div>
<p class="ztext-empty-paragraph"><br></p>
<p data-pid="eJsC4hjN">
  翻牌前大家都弃牌到你，你不想弃牌的时候总有两个选择，跛入或者加注。如果你选择加注，你还要作出另外的选择，每次都加注相同的数量呢？还是根据不同的位置选择加注不同的数量？让我们从欺骗原则的角度连看看这些选择。</p>
<p data-pid="aGqDPFyb">在 Biil Chen 的《The Mathematics of
  Poker》书中，他用了很多论据都得出了相同的结论。只有加注才会让盲注们有犯错的机会，如果你加注，无论他跟注，或再加注亦或者弃牌，都在你掌控中。而如果你只是跛入，那他可以不花费任何成本去看翻牌，你剥夺了他弃牌这个可能是犯错的机会。你加注后他哪怕是犯下很小的错误，那么不加注而跛入就是相当于你奉送给他等同金额量的礼物。</p>
<p data-pid="IIOFgW1x">尽管我承认这些观点逻辑上是成立的，但是我认为存在很重要的实战的因素导致你有时候会跛入，看看以下这些因素，</p>
<p data-pid="dPDiX-1_">1、 你跛入底池，能便宜地看到更多翻牌；你的目标之一，就是便宜地看翻牌。跛入当然比加注便宜。如果一张桌子上有很多的跛入者，你可以用最少的投资建立一个大的底池。</p>
<p data-pid="nbmt_jHb">2、 你第一个跛入底池，可以隐藏你的大牌；你第一个跛入底池， 并不见得每次都是同花连张或者小对子，有时候你持大牌也跛入，这就混合了你的打法，你的对手很难读懂你。</p>
<p data-pid="LTUwmW9p">3、
  如果你翻牌后打的好，你可能更喜欢跋入：你觉得翻牌后你打的好(许多高手是这样的），你可以更多地跛入。但如果你认为翻牌后你打的一般，那么你应该更多地加注，以减少翻牌后面对对手的人数。</p>
<p data-pid="GlVai7Ag">4、
  跛入鼓励更多的玩家参与进来；每当你进人一个底池，你和你对手的所有的筹码都承担着潜在的风险。如果你打的不错，这当然对你有利，如果你打的比很多人都好，那就非常有利。这些论点不是非常确凿也没有太多数学根据。但好的扑克玩家</p>
<p data-pid="LBPQKN0-">不全部都是数学家。实际经验是发现当我第一个进入底池时，跛入混合着加注相对于单纯总是加注来说总是让对手更头疼。无论如何，总有一些其他好牌手不同意这点。</p>
<p data-pid="MqYup2SY">如果你发现自己碰到强劲的对手，那么你必须停止翻牌前跛入，你应该始终以加注进局。</p>
<p data-pid="jKHU1xQi">最后注意一点：当一张桌子有很多的加注，非常激进的时候， 你不能跛入。当你想玩一手牌的时候，而且是第一个进入底池的，
  必须加注。你跛入被一个激进对手加注后不知所措，你不能允许这样的情况发生。不论你是跟注还是弃牌，长期来看成本都太大了。</p>
<p data-pid="qyh9jhWA">那么你第一个进人底池，加注多少呢？ 有三个主流理论：</p>
<p data-pid="-Nd9fq30" id="-Nd9fq30">1、 总是加注相同的数量(比如 3 倍大盲注加注）；</p>
<p data-pid="CgglOUyn" id="CgglOUyn">2、 根据位置来变化加注数量（比如前位小加注，后位大加注）；</p>
<p data-pid="e1qtRjIj">3、 随心所欲论。</p>
<p data-pid="2Cgl9ZAJ">头两点不会给对手太多的信息。第三点要求你打牌时更多地考虑对手情况。如果你感觉有人打的比你好，你就固定你的加注数量，如果你感觉你打的比他们好，你可以的适当的变化加注数量。
  记住，你的对手总是在尝试判断你加注数量的含义。如果你的加注有特定的意义（比如大牌加注大，小牌加注小），他们总会察觉。 而如果你随机选择加注的数量，他们基本上无从识别。</p>
<p data-pid="u-dA3lfo">本文摘自，哈灵顿在现金）</p>
<p data-pid="3Hwvrn_A">请小伙伴们来圈子里多多交流：</p>
<p data-pid="8zyrVifK">祝好运！</p>
<p data-pid="gHVQgN_g">行文不易，可以得到您的点赞、认同就是对我最大的支持了！</p>
</body>
</html>