<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>rangeIterator test</title>
</head>
<body><article class="_2rhmJa" id="_2rhmJa"><p><i>Ed Miller的《Getting started in Hold’em》有详细的小筹码策略的介绍。其基本涉及的内容是如何用一手好牌在翻牌前或在翻牌圈就尝试着全下。</i>
</p><h4 id="h4">40个大盲注-60个大盲注：</h4>
  <p id="p1">这是中等的筹码数量。没有什么特殊的含义，除非你非常机械性地玩这种策略，即在翻牌后尝试全下，用的是非常强的牌并混合着一些半诈唬。这个筹码深度的玩法类似于小筹码游戏性质。
  </p><h4>100个大盲注-200个大盲注：</h4>
  <p>在这个筹码数量上，我们才真正进人到深筹码游戏。游戏开始不聚焦于起手牌的好坏，更多的是目标和动机是赢光对手所有的筹码。
  </p><h4 id="p4-h4">超过200个大盲注：</h4>
  <p>真正的深筹码游戏。起手牌的价值完全改变，赢取对手所有筹码在一定程度上成为最终游戏目标。</p></article>
<script src="./rangeIterator.js"></script>
</body>
</html>