<!doctype html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>学习扑克：什么是 GTO(游戏最佳策略)</title>
  <style type="text/css">
    .icon {
      width: 1em; height: 1em;
      vertical-align: -0.15em;
      fill: currentColor;
      overflow: hidden;
    }
  </style>
  <script src="https://at.alicdn.com/t/font_3346834_aywgydnz8lc.js?spm=a313x.7781069.1998910419.78&file=font_3346834_aywgydnz8lc.js"></script>
</head>

<body>
  <div class="book">
    <div class="book_inner">
      <header class="book_title">学习扑克：什么是 GTO(游戏最佳策略)?</header>
      <main class="book_content">
        <p>游戏最佳策略 (GTO) 是一种总的术语，玩家用来它描述无上限德州策略的圣杯——有了它，你将无法被你的对手利用并且提高胜率。</p>
        <p></p>
        <h1>什么是 GTO 扑克?</h1>
        <p></p>
        <p>从最基本的层面来说，GTO 扑克致力于当你使用某个策略太频繁或者不够频繁时，避免被剥削利用。</p>
        <p></p>
        <h1>GTO 扑克是一种进攻还是一种防守策略？</h1>
        <p></p>
        <p>GTO 本质上是一种防守策略，它合并了 balanced range(平衡范围) 和 mixed range(混合范围) 的原则。GTO 扑克不是一种致力于获取最大利益的剥削策略。</p>
        <p></p>
        <h1>GTO 扑克和平衡范围</h1>
        <p></p>
        <p>扑克现在已经进化到了一个熟练的玩家不再仅仅考虑一手牌的时期——他们考虑的是自己的手牌范围以及让对手相信他们拥有，与之相对的是考虑对手的范围。</p>
        <p></p>
        <h4>什么是手牌范围</h4>
        <p></p>
        <p>手牌范围指的是每局你和你的对手理论上在某种情况下拥有的手牌。理想情况下，你应该通过追踪和观察对手的打牌方式来尽可能的缩小他们的手牌范围。有的时候当你和一个固定策略的玩家打牌时，你甚至可以准确的读出他的具体手牌。</p>
        <p></p>
        <h4>理解对手的手牌范围需要多长时间</h4>
        <p></p>
        <p>其实没有具体的时间上限来理解一名玩家的范围，但是通过观察上百手牌来构建一个可行的蓝图是非常有效的。你可以这样开始这个过程，首先评估他有多少手牌从不同位置 open，然后到他有多频繁在翻前跟注一个 3bet。</p>
        <p></p>
        <h4>什么是平衡范围</h4>
        <p></p>
        <p>平衡范围是一种无法被多变的策略剥削的手牌范围。举个例子，如果你总是在中了对子后下注，在没中的情况下过牌，那你将非常容易被你的对手阅读以及剥削。再举个例子，Harry 仅仅在拿到很好的口袋对或者 AK 的时候，在枪口位
          open。那如果他在翻后 check，你就很容易知道他没有中对子——这就意味着他一定是 AK。</p>
        <p></p>
        <p>为了避免像这样被阅读以及剥削，你必须平衡你在每种情况下注的手牌范围。你应该在某些时候拿强牌过牌，也应该在某些时候进行诈唬。这种策略将会让你的对手无时无刻不在猜测，并且保护你的手牌范围以防翻后变得非常弱。</p>
        <p></p>
        <h1>GTO 扑克和混合策略</h1>
        <p></p>
        <p>混合策略是一种最优策略，在这种策略当中，你将会在牌局里不断改变你打一手牌的方式。这对于防止对手阅读你至关重要。</p>
        <p></p>
        <h4>什么是混合策略</h4>
        <p></p>
        <p>当你在扑克当中利用混合策略时，你必须玩一些你知道的次优的牌来构建你的混合策略。比如，即使当你拿到一副平庸的手牌时，你的上家 open 了，这时你也要依据你对于对手的判断，来选择
          3bet、跟注或者弃牌。这种混合策略将防止你的对手从你的范围中找出特定的手牌并且让你变得更加难以对付。</p>
        <p></p>
        <h4>混合策略是怎么构建的</h4>
        <p></p>
        <p>你应该在牌桌之外决定你的混合策略。如何随机并且合并一些频率到你的游戏当中是无法在牌局中做到的，因为它太复杂了。由于看不到肢体语言，把你策略的一部分应用到线上游戏也更重要。</p>
        <p></p>
        <h4>混合策略是怎么随机的</h4>
        <p></p>
        <p>这里有很多你可以用来随机你混合策略的方法。其中一个例子是使用手表。假如有这样一个策略，需要你在一半的时间这样打，然后又在另外一半的时间使用不同的打法（<strong>译者理解：比如拿了 89s，有的时候翻前
          call，有的时候 3-bet</strong>）。你就可以通过使用秒针或者电子表上的数字来把表盘模拟成饼图并且可视化成百分比。（<strong>译者理解：比如拿了 89s，当现在是第 59 秒的时候，你就要接近
          100% 去 3-bet，当现在是第 1 秒的时候，你可以大概率的 call 或者
          fold</strong>）。这是完全随机的，所以你的对手将无法从你的打法中阅读出有效信息。你也可以创造一个根据你手牌花色和数字的随机系统。除此之外，你也可以凭感觉打牌。如果在一个 50:50 的情况下过牌了 2
          次，那么下次下注也挺好。始终需要注意的是，为了平衡，你也得混合你的强牌。</p>
        <p></p>
        <p>对你来说，让你的对手始终认为你可能拥有 nuts
          是非常重要的，否则的话你就可以不用玩了。比如，假设你的对手认为你最多只是一个对子，那么他可能下注一个非常大尺度的注，这可能会使得你无法跟注。为了防止这种情况，你需要多慢打一些强的手牌。</p>
        <p></p>
        <p>作为混合策略的一部分，你需要让你的对手害怕你的过牌。通过始终有可能拿强牌过牌，这会让你的对手无法占据上风当你用弱牌过牌时。</p>
        <p></p>
        <h4>发展一个混合策略需要多久</h4>
        <p></p>
        <p>发展一个很强的混合策略需要很长时间。初学者应该以一种更保守的方式来打牌，然后缓慢改变策略，以防犯下许多昂贵的错误。因为一个混合策略将使你进入一个更加困难的情况，所以你最好是在习惯这样打后，再增加一些额外的变化。</p>
        <p></p>
        <h1>我是否应该总是遵循 GTO 策略</h1>
        <p></p>
        <p>职业扑克选手 Daniel Negreanu 建议 GTO 扑克应该成为你的基准策略，但是为了剥削对手，你应该偏离它。为了让对手无法理解你的策略，关键在于通过谨慎的调整来剥削他们。</p>
        <p></p>
        <p>您必须在 GTO 和剥削之间建立混合策略，以最大程度地提高利润。但是要记住，GTO
          玩法对于鱼（水平较弱的玩家）不是必要的。鱼总是会犯错，这意味着你必须总是针对他们进行调整而不是考虑防守。（<strong>译者理解：对于鱼而言，基本上只看自己的手牌，而不会考虑对手的范围，所以只要找出他们的习惯，然后进行针对性的操作就好了</strong>）
        </p>
      </main>
    </div>

  </div>
</body>

</html>
