<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>characterRange</title>
  <style>
    .pink {
      background-color: pink;
    }

    .yellow {
      background-color: yellow;
    }

    .highlight {
      background-color: rgb(254, 232, 195) !important;
      color: rgb(51, 51, 51) !important;
      cursor: pointer;
    }
  </style>
</head>
<body>
  <p>在迈向职业选手的路途中，曾经因为破产而心灰意冷，一度打算放弃转行，就是大三暑假，半个小时输掉200万。最后一次破产那次，跑去书店买了一堆股票书，开始研究，试图重新找回小时候的志愿。后来重返扑克圈，确定人生与股票交易员无缘。但从那时候开始，我的股票投资没停过，只要手上有闲钱就买，5万、10万持续买进。随着手中持股越来越多，基数变大，涨跌时特别有感，一个决定下去，就是几十万上百万，跟打牌一样，于是我又开始积极研究股票。</p>
</body>
</html>
